/* Flex container */
.flex {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
  }
  
  /* List container */
  .listContainer {
    margin-top: 20px; /* Adjust as needed */
    
    max-width: 600px; /* Adjust as needed */
  }
  
  /* Loader */
  .loader {
    text-align: center;
    font-size: 16px;
    color: #555; /* Adjust the color as per your design */
    margin-bottom: 20px; /* Add spacing between loader and content */
  }
  
  /* Error message */
  .error {
    text-align: center;
    font-size: 16px;
    color: #ff0000; /* Red color for error messages */
    margin-bottom: 20px; /* Add spacing between error and content */
  }
  
  /* Content container */
  .contentContainer {
    border: 1px solid #9d9a9a; /* Add a border between list items */
    padding: 0 30px; /* Add padding inside the list item */
    font-size: 18px; /* Adjust the font size */
    color: #333; /* Adjust the text color */
    background-color: white;
    border-radius: 7px;
    margin: 0.5em;
    padding: 1rem;
  }
  
  /* Hover effect */
  .contentContainer:hover {
    background-color: #f9f9f9; /* Light gray background on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  /* Unordered list */
  ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
  }
  
  .listTitle{
    font-size: 20px;
    text-align: left;
  }
