/* Flex container */
.flex {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
  }
  
  /* Detail container */
  .detailContainer {
    margin-top: 20px; /* Adjust as needed */
    width: 80%; /* Adjust the width as per your layout */
    max-width: 600px; /* Adjust as needed */
  }
  
  /* Loader */
  .loader {
    text-align: center;
    font-size: 16px;
    color: #555; /* Adjust the color as per your design */
    margin-bottom: 20px; /* Add spacing between loader and content */
  }
  
  /* Error message */
  .error {
    text-align: center;
    font-size: 16px;
    color: #ff0000; /* Red color for error messages */
    margin-bottom: 20px; /* Add spacing between error and content */
  }
  
  /* Content container */
  .contentContainer {
    border: 1px solid #ccc; /* Add a border around the content */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Add padding inside the content container */
  }
  
  /* Content items */
  .contentContainer > div {
    margin-bottom: 10px; /* Add spacing between content items */
  }
  
  /* Content labels */
  .contentContainer > div::before {
    content: attr(data-label);
    font-weight: bold; /* Make labels bold */
    margin-right: 10px; /* Add spacing between label and content */
  }
  
  /* Unordered list */
  ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
  }
  