.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    min-width: 150px;
    max-width: 150px;
    background-color: gray;
    color: white;
    margin-right: 50px;
    padding-top: 1rem;

}